<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.perflyst.twire">

    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />

    <uses-feature
        android:name="android.hardware.wifi"
        android:required="true" />

    <application
        android:name=".TwireApplication"
        android:allowBackup="true"
        android:fullBackupContent="false"
        android:hardwareAccelerated="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:networkSecurityConfig="@xml/network_security_config"
        android:theme="@style/WhiteBackgroundTheme"
        tools:ignore="GoogleAppIndexingWarning">

        <uses-library
            android:name="com.sec.android.app.multiwindow"
            android:required="false" />

        <meta-data
            android:name="com.sec.android.support.multiwindow"
            android:value="true" />

        <meta-data
            android:name="com.sec.android.multiwindow.DEFAULT_SIZE_W"
            android:value="632.0dip" />

        <meta-data
            android:name="com.sec.android.multiwindow.DEFAULT_SIZE_H"
            android:value="598.0dip" />

        <meta-data
            android:name="com.sec.android.multiwindow.MINIMUM_SIZE_W"
            android:value="632.0dip" />

        <meta-data
            android:name="com.sec.android.multiwindow.MINIMUM_SIZE_H"
            android:value="598.0dip" />

        <activity
            android:name=".activities.stream.LiveStreamActivity"
            android:configChanges="screenSize|smallestScreenSize|screenLayout|orientation"
            android:label="@string/title_activity_live_stream"
            android:launchMode="singleTop"
            android:supportsPictureInPicture="true"
            tools:targetApi="n" />
        <activity
            android:name=".activities.stream.VODActivity"
            android:configChanges="screenSize|smallestScreenSize|screenLayout|orientation"
            android:label="@string/title_activity_vod"
            android:launchMode="singleTop"
            android:supportsPictureInPicture="true"
            tools:targetApi="n" />
        <activity
            android:name=".activities.main.MyChannelsActivity"
            android:label="@string/my_channels_activity_label"
            android:launchMode="singleTop" />
        <activity
            android:name=".activities.settings.SettingsActivity"
            android:label="@string/settings_activity_title" />
        <activity
            android:name=".activities.ChannelActivity"
            android:label="@string/title_activity_streamer_info" />
        <activity
            android:name=".activities.settings.SettingsGeneralActivity"
            android:label="@string/settings_general_name" />
        <activity
            android:name=".activities.settings.SettingsAppearanceActivity"
            android:label="@string/settings_appearance_name" />
        <activity
            android:name=".activities.settings.SettingsTwitchChatActivity"
            android:label="@string/settings_chat_name" />
        <activity
            android:name=".activities.main.MyStreamsActivity"
            android:launchMode="singleTop" />
        <activity
            android:name=".activities.main.TopGamesActivity"
            android:label="@string/top_games_activity_title"
            android:launchMode="singleTop" />
        <activity
            android:name=".activities.GameActivity"
            android:label="@string/title_activity_game"
            android:launchMode="singleTop" />
        <activity
            android:name=".activities.main.TopStreamsActivity"
            android:label="@string/top_streams_activity_title"
            android:launchMode="singleTop" />
        <activity
            android:name=".activities.main.FeaturedStreamsActivity"
            android:label="@string/featured_activity_title"
            android:launchMode="singleTop" />
        <activity
            android:name=".activities.setup.WelcomeActivity"
            android:label="@string/title_activity_welcome"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.setup.LoginActivity"
            android:label="@string/title_activity_login"
            android:parentActivityName=".activities.setup.WelcomeActivity"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activities.setup.WelcomeActivity" />
        </activity>
        <activity
            android:name=".activities.setup.ConfirmSetupActivity"
            android:label="@string/title_activity_welcome"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.StartUpActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:theme="@style/StartUpTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
                <category android:name="android.intent.category.MULTIWINDOW_LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".activities.SearchActivity"
            android:label="@string/title_activity_search" />
        <activity android:name=".activities.settings.SettingsStreamPlayerActivity" />
        <activity
            android:name=".activities.DeepLinkActivity"
            android:excludeFromRecents="true"
            android:label="@string/router_activity_label"
            android:taskAffinity=""
            android:theme="@style/DeepLinkTheme">

            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.BROWSABLE" />
                <category android:name="android.intent.category.DEFAULT" />

                <data android:scheme="http" />
                <data android:scheme="https" />
                <data android:host="twitch.tv" />
                <data android:host="m.twitch.tv" />
                <data android:host="www.twitch.tv" />

                <data android:pathPattern="/videos/.*" />
                <data android:pathPattern="/.*/video/.*" />
                <data android:pathPattern="/.*" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.SEND" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="text/plain" />
            </intent-filter>
        </activity>
    </application>
</manifest>
